@import url('utility.css');

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-primary-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-update-msg {
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: center;
    font-family: var(--font-style-heading);
    font-weight: bolder;
    padding: 3rem;
    margin: 2rem;
    background-color: rgba(9, 32, 44, .8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px); 
    color: var(--color-primary-5);
    font-size: 1.5rem;
}

.pass-update-msg button {
    background: none;
    margin-top: 3rem;
    border: var(--color-primary-5) solid 2px;
    font-family: var(--font-style-text);
    color: var(--color-primary-5);
    width: 50%;
    font-size: 1.1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 10px;
    cursor: pointer;
}

.forgotpass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checked-email {
    text-align: center;
    background-color: var(--color-primary-1);
    height: auto;
    color: white;
    box-shadow: 2px 6px 20px rgba(53, 19, 9, 0.8);
    overflow: hidden;
    animation: popIn 0.3s ease-in-out;
}

.checked-email h2 {
    font-family: var(--font-style-heading);
    font-weight: bolder;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.input-box {
    position: relative;
    text-align: left;
    margin-left: 1rem;
    font-family: var(--font-style-text);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.input-box label {
    color: white;
    font-weight: lighter;
    font-size: .9rem;
}

.input-box input {
    width: 78%;
    margin-top: .5rem;
    border: var(--color-primary-4) solid 2px;
    border-radius: 10px;
    background: none;
    padding: .4rem 2.4rem .4rem .4rem;
    color: white;
    font-size: .9rem;
}

.submit-btn {
    margin-bottom: 1rem;
    background: none;
    border: var(--color-primary-4) solid 2px;
    color: var(--color-primary-4);
    border-radius: 10px;
    width: 50%;
    padding: .2rem;
    cursor: pointer;
}

.error-msg {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: .5rem;
    font-family: var(--font-style-text);
    font-size: .8rem;
    color: var(--color-error);
    display: none;
}

/* CHANGE PASS*/
.change-pass {
    display: none;
    text-align: center;
    background-color: var(--color-primary-1);
    height: auto;
    color: white;
    box-shadow: 2px 6px 20px rgba(53, 19, 9, 0.8);
    overflow: hidden;
    animation: popIn 0.3s ease-in-out;
}

.change-pass h2 {
    font-family: var(--font-style-heading);
    font-weight: bolder;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.input-box button {
    position: absolute;
    width: auto;
    height: 1.5rem;
    right: 30px;
    top: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.input-box button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error-msg-confirm-pass {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: .5rem;
    font-family: var(--font-style-text);
    font-size: .8rem;
    color: var(--color-error);
    display: none;
}


/* RESPONSIVE */ 
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    .checked-email {
        max-width: 70vw;
    }

    .input-box button {
        right: 35px;
        top: 35px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .checked-email h2, .change-pass {
        font-size: 2.2rem;
        margin: 1rem 2rem 5rem 2rem;
    }

    .input-box label, .input-box input, .submit-btn {
        font-size: 1.3rem;
    }

    .input-box {
        margin-left: 2rem;
    }

    .input-box button {
        height: 2rem;
        right: 80px;
        top: 65px;
    }

    .error-msg, .error-msg-confirm-pass {
        margin-left: 2.5rem;
        margin-top: .5rem;
        font-size: 1rem;
    }

}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
} 